#catalogo {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
}
.catalogo > h1 {
  text-align: center;
}

.catalogo > p {
  text-align: center;
}

.search input,
.search input:focus {
  border: 0 none;
  outline: none;
  box-shadow: 0 0 0 0;
}

.search {
  border: 3px solid #fff0da;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  width: max-content;
  border-radius: 10px;
  padding: 5px 20px;
  margin-bottom: 30px;
}
.icones {
  display: flex;
  align-items: center;
  gap: 20px;
}

#secaoItens .destaque-itens-item {
  animation: fade 1s ease-in, toLeft 0.5s ease-in;
}

#secaoItens .destaque-itens-item::before {
  display: none;
}

#iconePesquisa {
  cursor: pointer;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes toLeft {
  from {
    transform: translateX(30px);
  }
  to {
    transform: translateX(0px);
  }
}

@media (max-width: 600px) {
  .filtro button {
    word-break: keep-all;
    font-size: 0.875rem;
    padding: 9px 18px;
  }
  .search {
    gap: 50px;
  }
}

@media (max-width: 440px) {
  .catalogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .filtro {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .search {
    gap: 20px;
  }
  .catalogo > p {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
}

@media (max-width: 380px) {
  .catalogo > p {
    font-size: 0.875rem;
  }
}
