footer {
  background-color: #734939;
  padding: 26px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  gap: 130px;
  margin: 0 auto;
}
footer h1 {
  color: #d79771;
  text-decoration: underline;
  font-family: 'Josefin Sans';
  font-size: 1.5625rem;
  text-align: center;
  padding-left: 0px;
  grid-column: 1/-1;
  width: max-content;
  margin-bottom: 5px;
}

footer a {
  color: #d79771;
  font-family: 'Josefin Sans';
  font-size: 1.25rem;
}

.minhaConta ul,
.institucional ul,
.meiosPagamentos ul,
.redesSociais ul {
  display: grid;
  justify-content: start;
  gap: 5px;
}

.meiosPagamentos ul {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px;
}

.meiosPagamentos ul li:first-child {
  grid-column: 1/-1;
}
.redesSociais ul {
  display: grid;
  grid-template-columns: 20px 20px;
  justify-content: center;
  justify-items: center;
  gap: 20px;
}
.redesSociais ul li:first-child {
  grid-column: 1/-1;
}

.copy {
  text-align: center;
  background-color: #422a1f;
  color: #d79771;
  font-family: 'Josefin Sans';
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (max-width: 1200px) {
  footer h1 {
    font-size: 1.2rem;
  }
  footer a {
    font-size: 0.875rem;
  }
  footer {
    gap: 50px;
  }
}

@media (max-width: 790px) {
  footer {
    gap: 20px;
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
  }
  footer h1 {
    font-size: 1rem;
  }
  footer a {
    font-size: 0.625rem;
  }
  .copy {
    font-size: 0.875rem;
  }
  .meiosPagamentos img {
    width: 30px;
  }
}

@media (max-width: 520px) {
  footer {
    gap: 5px;
  }
  footer h1 {
    font-size: 0.875rem;
  }
}
